{% load static %}

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel="stylesheet" href={% static 'css/dashboard/dashboard.css' %}>

<div class="container bootstrap snippets bootdey mx-3">
  <div class="row justify-content-md-center">
    <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="{% url 'allEmployee' %}"><div class="circle-tile-heading dark-blue"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content dark-blue">
          <div class="circle-tile-description text-faded"> Empleados </div>
          <div class="circle-tile-number text-faded ">{{ employees }} </div>
          <a class="circle-tile-footer" href="{% url 'allEmployee' %}">Ingresar<i class="fa fa-chevron-circle-right"></i></a>
        </div>
      </div>
    </div>
     
    <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="{% url 'allVendor' %}"><div class="circle-tile-heading red"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content red">
          <div class="circle-tile-description text-faded"> Proveedores </div>
          <div class="circle-tile-number text-faded ">{{ suppliers }}</div>
          <a class="circle-tile-footer" href="{% url 'allVendor' %}">Ingresar<i class="fa fa-chevron-circle-right"></i></a>
        </div>
      </div>
    </div> 
     
    <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="{% url 'inbox' %}"><div class="circle-tile-heading yellow "><i class="fa fa-envelope fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content yellow">
          <div class="circle-tile-description text-faded"> Inbox </div>
          <div class="circle-tile-number text-faded ">10</div>
          <a class="circle-tile-footer" href="{% url 'inbox' %}">Ingresar<i class="fa fa-chevron-circle-right"></i></a>
        </div>
      </div>
    </div> 
     
    <div class="col-lg-2 col-sm-6">
      <div class="circle-tile ">
        <a href="{% url 'sent_messages' %}"><div class="circle-tile-heading orange"><i class="fa fa-comments fa-fw fa-3x"></i></div></a>
        <div class="circle-tile-content orange">
          <div class="circle-tile-description text-faded"> Mensajes enviados</div>
          <div class="circle-tile-number text-faded ">{{ all_messages }}</div>
          <a class="circle-tile-footer" href="{% url 'sent_messages' %}">Ingresar<i class="fa fa-chevron-circle-right"></i></a>
        </div>
      </div>
    </div> 
  </div> 
</div>  