{% load static %}

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'home' %}" class="brand-link">
      <img src={% static 'img/logo.jpg' %} alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Grupo 5 - CaC</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <a href="{% url 'allEmployee' %}">
            <img 
              {% if user.employee.avatar.url %}
                src="{{ user.employee.avatar.url }}"
              {% else %}
                src="{% static 'img/admin.png' %}"
              {% endif %}
              class="img-circle elevation-2"
              alt="User Image"
            >
          </a>
        </div>
        <div class="info">
          <a href="{% url 'userProfile' username=user.username %} ">
            {% if user.first_name %}
              {{ user.first_name|capfirst }} {{ user.last_name|capfirst }}
            {% else %}
              {{ user.username }}
            {% endif %}
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">
               <i class="nav-icon fa-solid fa-house"></i>
              <p>
                Home
              </p>
            </a>
          </li>

          <!-- Empleados -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fa-solid fa-users"></i>
              <p>
                Empleados
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'addEmployee' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ingresar Personal</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'allEmployee' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Listar empleados</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'overTime' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Horas Extra</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- Fin Empleados -->

          <!-- Puestos -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-building"></i>
              <p>
                Puestos
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'addPuesto' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ingresar Puesto</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'showPuestos' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Listar Puestos</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- Fin Puestos -->

          <!-- Gerencias -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fa-solid fa-sitemap"></i>
              <p>
                Gerencias
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'addDepartment' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ingresar Gerencia</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'showDepartments' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Listar Gerencias</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- Fin Gerencias -->

          <!-- Proveedores -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-shopping-cart"></i>
              <p>
                Proveedores
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'addVendor' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ingresar Proveedor</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'allVendor' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Listar Proveedores</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- Fin Proveedores -->

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-envelope"></i>
              <p>
                Mensajes
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'messages' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Mensajes</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'send_message' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Redactar</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
