
{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
      <img src={% static 'lib/adminlte3.2.0/img/AdminLTELogo.png' %} alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src={% static 'lib/adminlte3.2.0/img/user2-160x160.jpg' %} class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{user.first_name}} {{user.last_name}}</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-header">
            <a href={% url 'home' %} class"nav-link"><i class="nav-icon fa-solid fa-home"></i> Home</a>
          </li>
          <li class="nav-header">Empleados</li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bars" aria-hidden="true"></i>
              Informacion Empresa
            </a>
            <div class="dropdown-menu">
              <a href={% url 'addEmployee' %} class="dropdown-item"><i class="nav-icon fa-solid fa-person-circle-plus"></i>Ingresar personal</a>
              <a href={% url 'allEmployee' %} class="dropdown-item "><i class="fa fa-users" aria-hidden="true"></i> Listar empleados</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bars" aria-hidden="true"></i>
              Puestos
            </a>
            <div class="dropdown-menu">
              <a href={% url 'showPuestos' %} class="dropdown-item "><i class="fa fa-address-card-o" aria-hidden="true"></i> Listar Puestos</a>
              <a href={% url 'addPuesto' %} class="dropdown-item "><i class="fa fa-address-card-o" aria-hidden="true"></i> Ingresar puesto</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bars" aria-hidden="true"></i>
              Gerencias
            </a>
            <div class="dropdown-menu">
              <a href={% url 'addDepartment' %} class="dropdown-item "><i class="fa fa-address-card-o" aria-hidden="true"></i>Ingresar Gerencia </a>
              <a href={% url 'showDepartments' %} class="dropdown-item "><i class="fa fa-address-card-o" aria-hidden="true"></i> Listar Gerencias</a>
            </div>
          </li>
          
          <li class="nav-header">Proveedores</li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bars" aria-hidden="true"></i>
              Informacion Empresa
            </a>
            <div class="dropdown-menu">
              <a href={% url 'addVendor' %} class="dropdown-item"><i class="nav-icon fa-solid fa-person-circle-plus"></i> Ingresar proveedor</a>
              <a href={% url 'addVendor' %} class="dropdown-item "><i class="nav-icon fa-solid fa-warehouse"></i> Ver proveedores</a>
            </div>
          </li>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Title</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                Start creating your amazing application!
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                Footer
              </div>
              <!-- /.card-footer-->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>