{% extends 'base.html' %}

{% block content %}

    <div class="content-wrapper">

        <h1 class="h1 center">Todos los Empleados</h1>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Legajo</th>
                                <th scope="col">Nombre Completo</th>
                                <th scope="col">Puesto</th>
                                <th scope="col">Manager</th>
                                <th scope="col">Departamento</th>
                                <th scope="col">Salario</th>
                                <th scope="col">Acciones</th>

                            </tr>
                        </thead>
                        <tbody>

                            {% for employee in employees %}

                            <tr>
                                <th scope="row">{{employee.id}}</th>
                                <td>{{employee.first_name}} {{employee.last_name}}</td>
                                <td>{{employee.position}}</td>
                                <td>{{employee.manager}}</td>
                                <td>{{employee.management}}</td>
                                <td>{{employee.salary}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'infoEmployee' id=employee.id %}'"><i class="far fa-eye"></i></button>
                                    <button type="button" class="btn btn-success" onclick="location.href='{% url 'editEmployee' id=employee.id %}'"><i class="fas fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger" onclick="location.href='{% url 'deleteEmployee' id=employee.id %}'"><i class="far fa-trash-alt"></i></button>
                                </td>
                            </tr>
                            
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        
    </div>

{% endblock content %}