{% extends 'base2.html' %}

{% block content %}
<!-- Inbox -->
<div class="row justify-content-md-center">
    <div class="col-10">
        <div class="card top-selling overflow-auto mb-3">

            <div class="card-body pb-0 mb-3">
                <h4 class="card-title font-weight-bold text-primary">
                    {{ title }}
                </h4>

                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center" style="width: 15%">Fecha</th>
                        <th scope="col" class="text-center" style="width: 15%" >Remitente</th>
                        <th scope="col" class="text-center">Mensaje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for message in message_list %}
                    <tr>
                        <td class="text-center">{{ message.created_at|date:"d/m/Y" }}</td>
                        <td class="text-center">{{ message.sender.username }}</td>
                        <td class="text-end">{{ message.msg_content }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-primary btn-flat mb-3" href="{% url 'send_message' %}">
                <i class="fas fa-envelope"></i> Redactar
            </a>
        </div>
    </div>
</div>
{% endblock content %}