{% extends 'base.html' %}

{% block content %}

<div class="content-wrapper">
    <h1 class="h1">
        Info de empleado
    </h1>

    <div class="container">

        <div class="row">

            <div class="col-12">
            
                <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Agregar Nuevo Empleado</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="POST">

                    {% csrf_token %}
                    <div class="card-body">

                        <h2 class="h2">Informacion Personal</h2>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Nombre</label>
                                    {{employee.first_name}}
                                </div>
                                
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Apellido</label>
                                    {{employee.last_name}}
                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="" >Sexo</label>
                                    {{employee.genre}}
                                </div>
                            </div>
                            
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="" >Fecha de Nacimiento</label>
                                    {{employee.dob}}
                                </div>
                            </div>
                        </div>


                    


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" >DNI</label>
                                    {{employee.id_number}}
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" >CUIL</label>
                                    {{employee.tax_id_number}}
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-4">
                                
                                    <div class="form-group">
                                        <label for="" >Correo Electronico</label>
                                        {{employee.email}}
                                    </div>
                                

                            </div>
                            <div class="col-md-4">
                                
                                    <div class="form-group">
                                        <label for="" >Direccion</label>
                                        {{employee.address}}
                                    </div>
                                

                            </div>

                            <div class="col-md-4">
                                
                                <div class="form-group">
                                    <label for="" >Telefono</label>
                                    {{employee.phone}}
                                </div>
                            

                        </div>

                    </div>


                        
                    <h2 class="h2">Informacion Laboral</h2>
                        
                        
                        


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" >Fecha Contratacion</label>
                                    {{employee.start_date}}
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" >Puesto</label>
                                    {{employee.position}}
                                </div>

                                
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" >Gerencia</label>
                                    {{employee.management}}
                                </div>


                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" >Supervisor</label>
                                    {{employee.manager}}
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" >Salario</label>
                                    {{employee.salary}}

                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" >En Funcion</label>
                                    {% comment %} {{form.is_active}} {% endcomment %}



                                </div>

                            </div>
                        </div>


                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'allEmployee' %}'">Volver</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div> 


</div>

{% endblock content %}