{% extends 'base2.html' %}

{% block content %}
<!-- Inbox -->
<div class="row justify-content-md-center">
    <div class="col-10">
        <div class="card top-selling overflow-auto mb-3">
            <h4 class="card-title font-weight-bold text-primary my-3 text-center">Redactar mensaje</h4>
            <div class="card-body pb-0 mb-3">
                <form method="post" enctype="multipart/form-data" class="mb-3">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-center">
                        <a class="btn btn-primary btn-flat button_submit"
                            href="{% url 'inbox' %}"
                        >
                            <i class="fa-solid fa-arrow-left"></i> Regresar
                        </a>
                        <button class="btn btn-success btn-flat my-3">
                            <i class="fa-solid fa-check-double"></i> Procesar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}