{% extends 'base.html' %}

{% block content %}

    <div class="content-wrapper">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <h1 class="h1 center">Todos los Empleados</h1>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Departamento</th>
                                <th scope="col">Acciones</th>

                            </tr>
                        </thead>
                        <tbody>

                            {% for management in managements %}

                            <tr>
                                <td>{{management.name}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" ><i class="far fa-eye"></i></button>
                                    <button type="button" class="btn btn-success" ><i class="fas fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger" ><i class="far fa-trash-alt"></i></button>
                                </td>
                            </tr>
                            
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        
    </div>

{% endblock content %}