{% extends 'base.html' %}

{% block content %}

    <div class="content-wrapper">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <h1 class="h1 center">Todos los Departamentos</h1>

        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Empleados</h3>
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="card-body table-responsive p-0" style="height: 300px;">
                            <table class="table table-head-fixed text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Descripcion</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for department in departments %}

                                    <tr>
                                        <th scope="row">{{department.id}}</th>
                                        <td>{{department.name}}</td>
                                        <td>{{department.description}}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary" onclick="location.href='{% url 'infoDepartment' id=department.id %}'"><i class="far fa-eye"></i></button>
                                            <button type="button" class="btn btn-success" onclick="location.href='{% url 'editDepartment' id=department.id %}'"><i class="fas fa-edit"></i></button>
                                            <button type="button" class="btn btn-danger" onclick="location.href='{% url 'deleteDepartment' id=department.id %}'"><i class="far fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                    
                                    {% endfor %}
    
                                </tbody>
                           </table>
                        </div>
                    
                    </div>
                    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'addDepartment' %}'">Crear departamento</button>
                </div>


            </div>

        </div>
        
    </div>

{% endblock content %}